@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  nav {
    justify-content: space-around;
  }

  #profile{
    height: 75vh;
    margin-bottom: 6rem;
  }

  #hamburger-nav .toggle{
    position: absolute;
    top: 5%;
    right: 3%;
  }

  i:hover{
    filter: none;
  }

  .toggle:hover{
    transform: scale(1);
  }

  .section__pic-container{
    display: flex;
    justify-content: center;
    position: relative;
    right: 50px;
  }
  .section__pic-container img{
    height: 300px;
    width: 300px;
    
  }

  section {
    padding: 0;
  }

  #about{
    margin-top: 5rem;
    height: auto;
    margin-bottom: 10rem;
  }

  .section__text__p1 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text-secondary);
  }

  .about-details-container{
    text-align: center;
    position: relative;
    right: 50px;
  }

  .section-container {
    gap: 3rem;
    height: 50%;
    position: relative;
    right: 55px;
}

  .arrow, .footerArrow{
    display: none;
  }

  #experience{
    position: relative;
    height: auto;
  }
  .experience-details-container .about-containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }

  .article-container {
    justify-content: center; /* Center the content horizontally */
  }

  #projects {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    text-align: center; /* Center the content horizontally */
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }
  
  #projects .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: auto; /* Remove the specific right margin */
    margin-left: auto; /* Add left margin */
    max-width: 800px; /* Add a max-width to control the width */
  }
  
  #projects .color-container {
    height: auto;
  }
  
  
  #contact{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 5rem;
      align-items: center;
      height: 50vh;
  }

  .contact-info-upper-container{
    width: 100%;
    
  }

  .contact-info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: max-content;
  }

}

/* For mobile screens (max-width: 767px) */
@media screen and (max-width: 425px) {


  .logo{
    display: none;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #hamburger-nav .hamburger-menu{
    position: absolute;
    right: 55px;
    top: 60px
  }
.toggle{
    position: absolute;
    top: 4px;
    left: 20px;
    width: 20px;
  }
  nav {
    justify-content: space-around;
  }

  #profile{
    height: 75vh;
    margin-bottom: 6rem;
  }


  #hamburger-nav .toggle{
    position: absolute;
    top: 5%;
    right: 0%;
  }

  i:hover{
    filter: none;
  }

  .toggle:hover{
    transform: scale(1);
  }

  .section__pic-container{
    display: flex;
    justify-content: center;
    position: relative;
    
  }
  .section__pic-container img{
    display: none;
    
  }

  .section__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 50px;
  }

  section {
    padding: 0;
  }

  #about{
    margin-top: 5rem;
    height: auto;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 

  #about .title{
    text-align: center;
    font-size: 1.6rem;
    width: max-content;
  }

  #about .section__text__p1{
    text-align: center;
    font-size: 1rem;
    color: var(--color-text-secondary);
    width: 130px
  }

  #about .about-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-details-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 20px;
    height: 600px;
    padding: 1rem;
    
  }


  .text-container p{
    text-align: center;
    font-size: .8rem;
    color: var(--color-text-secondary);

  }

  .section-container {
    gap: 3rem;
    height: 50%;
    position: relative;
    right: 55px;
}

  .arrow, .footerArrow{
    display: none;
  }

  #experience{
    position: relative;
    height: auto;
  }
  .experience-details-container .about-containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }

  .article-container {
    justify-content: center; /* Center the content horizontally */
  }

  #projects {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    text-align: center; /* Center the content horizontally */
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }

  
  #projects .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: auto; /* Remove the specific right margin */
    margin-left: auto; /* Add left margin */
    max-width: 800px; /* Add a max-width to control the width */
  }

  #projects .color-container .article-container img{
    height: 100px;
    width: 200px;
  }
  #projects .color-container h2{
    font-size: 1rem;
  }
  
  #projects .color-container {
    height: 200px;
    width: 200px;
  }

  #projects .project-btn{
    font-size: 0.8rem;
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  
  #contact{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 5rem;
      align-items: center;
      height: 50vh;
      display: none;
  }

  .contact-info-upper-container{
    width: 100%;
    
  }

  .contact-info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: max-content;
  }

  footer{
    display: none;
  }

}



