@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  nav {
    justify-content: space-around;
  }

  #profile{
    height: 75vh;
    margin-bottom: 6rem;
  }

  #hamburger-nav .toggle{
    position: absolute;
    top: 5%;
    right: 3%;
  }

  i:hover{
    filter: none;
  }

  .toggle:hover{
    transform: scale(1);
  }

  .section__pic-container{
    display: flex;
    justify-content: center;
    position: relative;
    right: 50px;
  }
  .section__pic-container img{
    height: 300px;
    width: 300px;
    
  }

  section {
    padding: 0;
  }

  #about{
    margin-top: 5rem;
    height: auto;
    margin-bottom: 10rem;
  }

  .section__text__p1 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text-secondary);
  }

  .about-details-container{
    text-align: center;
    position: relative;
    right: 50px;
  }

  .section-container {
    gap: 3rem;
    height: 50%;
    position: relative;
    right: 55px;
}

  .arrow, .footerArrow{
    display: none;
  }

  #experience{
    position: relative;
    height: auto;
  }
  .experience-details-container .about-containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }

  .article-container {
    justify-content: center; /* Center the content horizontally */
  }

  #projects {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    text-align: center; /* Center the content horizontally */
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }
  
  #projects .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: auto; /* Remove the specific right margin */
    margin-left: auto; /* Add left margin */
    max-width: 800px; /* Add a max-width to control the width */
  }
  
  #projects .color-container {
    height: auto;
  }
  
  
  #contact{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 5rem;
      align-items: center;
      height: 50vh;
  }

  .contact-info-upper-container{
    width: 100%;
    
  }

  .contact-info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: max-content;
  }

}

/* For mobile screens (max-width: 767px) */
@media screen and (max-width: 425px) {

  body{
    width: auto;
  }
  .logo{
    display: none;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .menu-links {
    position: fixed; /* Changed to fixed */
    top: 6.5rem; /* Aligned to the top of the viewport */
    right: 4rem;
    background-color: transparent;
    width: 150px; /* Adjusted width */
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 999; /* Added a high z-index value */
  }

  .menu-links li{
    display: flex;
    justify-content: center;
    width: auto;
  }

  .menu-links a {
    font-size: 1rem; /* Adjusted font size */
  }

  #hamburger-nav .hamburger-menu{
    position: absolute;
    right: 55px;
    top: 60px
  }

.toggle{
    position: absolute;
    top: 4px;
    left: 30px;
    width: 30px;
  }
  nav {
    justify-content: space-around;
  }

  #profile{
    height: 75vh;
    margin-bottom: 6rem;
  }

  #profile .title{
    font-size: 2.5rem;
  }


  #hamburger-nav .toggle{
    position: absolute;
    top: 5%;
    right: 0%;
  }

  i:hover{
    filter: none;
  }

  .toggle:hover{
    transform: scale(1);
  }

  .section__pic-container{
    display: flex;
    justify-content: center;
    position: relative;
    
  }

  .section__pic-container img{
    display: none;
    
  }

  .section__text__p2{
    margin-bottom: 1rem;
  }

  .section__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 36px;
  }


  section {
    padding: 0;
  }

  #about{
    margin-top: 5rem;
    height: auto;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 

  #about .title{
    text-align: center;
    font-size: 1.6rem;
    width: max-content;
  }

  #about .section__text__p1{
    text-align: center;
    font-size: 1rem;
    color: var(--color-text-secondary);
    width: 130px
  }

  #about .about-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-details-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 115px;
    height: 600px;
    padding: 1rem;
    margin-top: 1rem;
  }

  .text-container {
    max-width: 370px; /* Adjust this value to your desired width */
  }

  .text-container p{
    text-align: center;
    font-size: 1rem;
    color: var(--color-text-secondary);
    padding: 1rem;
    line-height: 1.5rem;

  }

  .section-container {
    gap: 3rem;
    height: 50%;
    position: relative;
    right: 55px;
}

  .arrow, .footerArrow{
    display: none;
  }

  #experience{
    position: relative;
    height: auto;
  }
  .experience-details-container .about-containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }

  #experience p{
    text-align: center;
    font-size: 1rem;
    color: var(--color-text-secondary);
    width: max-content;
  }
  #experience .title{
    text-align: center;
    font-size: 2rem;
    width: max-content;
  }

  .experience-details-container{
    display: flex;
    flex-direction: unset;
  }

  .experience-details-container .details-container {
    padding: 2rem; /* Adjust the padding as needed */
    justify-content: center;
    width: min-content;
    position: relative;
    width: 18rem;
    
  }

  article{
    display: flex;
    width: 8rem;
    justify-content: space-around;
    gap: 0.5rem;
  }
  article .icon{
    width: 20px;
    height: 20px;
  }

  article .angularicon{
    width: 35px;
    height: 35px;
  }
  .experience-details-container .details-container h2{
    font-size: 1.3rem;
   
  }
  .experience-details-container .details-container h3{
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .article-container {
    justify-content: center; /* Center the content horizontally */
    display: grid;
    grid-template-columns: repeat(2, 140px); /* C
    reate two equal-width columns */
  }



  #projects {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    text-align: center; /* Center the content horizontally */
  }

  #projects .title{
    font-size: 2.5rem;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }


  #projects .color-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
  }
  #projects .color-container .article-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #projects .color-container .article-container img{
    height: 175px;
    width: 275px;
  }
  #projects .color-container h2{
    font-size: 1.4rem;
  }
  #projects .color-container p{
    font-size: 1rem;
  }
 
  
  #projects .color-container {
    height: 275px;
    width: 275px;
    position: relative;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  #projects .project-btn{
    font-size: 0.8rem;
    height: 3rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #projects .experience-details-container .project4,
  #projects .experience-details-container .project5,
  #projects .experience-details-container .project6{
    display: none;
  }

  
  #contact{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 5rem;
      align-items: center;
      height: 50vh;
      display: unset;
      position: relative;
      bottom: 0;
  }

  #contact .title{
    font-size: 2rem;
  }
  .contact-info-container .icon{
    font-size: 1rem;
  }
  .contact-info-container a{
    font-size: 1rem;
  }
  .contact-info-upper-container{
    width: 80%;
    
  }

  .contact-info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: max-content;
  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  footer a{
    font-size: 1rem;
  }
}



